<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jmcannon.TurkishDictionary</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>23328F5B-2C7F-4F29-8C38-48653EB8755D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DD8BE00-5CAF-482D-B28F-7EC3E588F179</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Justin Cannon</string>
	<key>description</key>
	<string>Lookup words or phrases on Tureng.com.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Turkish Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://tureng.com/en/turkish-english/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0DD8BE00-5CAF-482D-B28F-7EC3E588F179</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Looking up...</string>
				<key>script</key>
				<string>python lookup-turkish.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Turkish Lookup</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>23328F5B-2C7F-4F29-8C38-48653EB8755D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly search the excellent Tureng online English-Turkish dictionary. Active with "tr" and type any word or phrase in English or Turkish. After results render, press return to open Tureng in your browser.</string>
	<key>uidata</key>
	<dict>
		<key>0DD8BE00-5CAF-482D-B28F-7EC3E588F179</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>23328F5B-2C7F-4F29-8C38-48653EB8755D</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tureng.com</string>
</dict>
</plist>
